doctype html
html
    head
        title SketchWave
        link(rel='stylesheet', href='/stylesheets/screen.css')

        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')

        block scripts
    body
        header
            img(src='/images/sketchwave.png' height='70')
            nav
                ul
                    li
                        a(href='/conversations') Conversations
                    li
                        a(href='/logout') Log Out
        section#main
            block content