doctype html
html
    head
        title SketchWave
        link(rel='stylesheet', href='/stylesheets/screen.css')

        script(src='/scripts/moment-with-locales.js')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')

        block scripts
    body
        header
            img(src='/images/sketchwave.png' height='70')
            nav
                ul
                    if user
                        li
                            a(href='/conversations') Conversations
                        li(style='float: right')
                            a(href='/logout') Log Out (#{user.username})
                    else
                        li
                            a(href='/') Home
        section#main
            block content