doctype html
html
	block vars
	head
		title SketchWave

		meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
		meta(charset='utf-8')
		meta(name='description' content="In a world of increasing data-overload, who wants to be stuck with grandpa's" +
		" writing system? Throw away those letters, but on SketchWave you can keep the stamps!")

		link(rel='icon' href='/images/dolphin.png')
		link(rel='apple-touch-icon' href='/images/app_icon.png')

		link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css')
		link(rel='stylesheet' href='/bower_components/select2/dist/css/select2.min.css')

		link(rel='stylesheet' href='/stylesheets/screen.css')

		script(src='/bower_components/moment/min/moment-with-locales.min.js')
		script(src='/bower_components/jquery/dist/jquery.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/bower_components/select2/dist/js/select2.full.min.js')
		script(src='https://www.google.com/recaptcha/api.js')

		script(src='/scripts/SWCanvas.js')

		block scripts
	body
		header#siteHeader
			img(src='/images/sketchwave.png' height='62')
			nav
				ul
					if user
						li
							a(href='/conversations/')
								i.material-icons forum
								span Conversations
						li
							a(href='/users/#{user.id}/')
								i.material-icons account_circle
								span My Profile
						li(style='float: right')
							a(href='/logout/') Log Out #[span#logOutUsername (#{user.username})]
					else
						li
							a(href='/')
								i.material-icons home
								span Home
		section#main
			block content

		if footer
			footer#pageFooter
				nav
					ul
						li
							a(href='/') Home
						li
							a(href='/about/') About
						//li
						//	a(href='/blog/') Blog
						//li
						//	a(href='/privacy/') Privacy Policy
						li
							a(href='/contact/') Contact
				img#footerLogo(src='/images/dolphin_transparent.png' height='40')
