extends base.jade

block scripts
	script(type='text/javascript').
		$(document).ready(function () {
			$.get('/conversations_data/').done(function (data) {
				for(var c in data['conversations']) {

					$('#conversations').append('<li class="conversation" id="conversation-'
							+ data['conversations'][c]['id'] + '"><a href="/conversation/'
							+ data['conversations'][c]['id'] + '/">'
							+ data['conversations'][c]['name'] + '</a> | Members: <span class="members"></span>'
							+ '<div class="controls"><button class="delete">Delete</button></div>'
							+ '</li>');
				}

				for (var i = 0; i < $('.conversation').length; i++) {
					$.get('/conversation_users/' + data['conversations'][i]['id'] + '/', function (userData) {
						var userList = '';
						for (var u in userData['users']) {
							var userList;

							userList += userData['users'][u]['username'];
							if (userData['users'][u] !== userData['users'][userData['users'].length - 1]) {
								userList += ', ';
							}
						}

						console.log(userData['conversationID']);

						$('#conversation-' + userData['conversationID']).children('.members').first().html(userList);
					});
				}
			});

			$('#formCreateConversation').hide();

			$('#createConversation').click(function () {
				$('#formCreateConversation').slideDown();
			});
		});


block content
	h1
		span Conversations
		div#controls
			button#createConversation(type='button') Create

	form#formCreateConversation(method='post')
		label(for='names') To:
		input(type='text', name='names', id='names')
		label(for='names') Name
		input(type='text', name='name', id='name')
		br
		br
		button(type='submit') Create

	ul#conversations
