extends base.jade

block vars
	- var footer = true

block scripts
	script(type='text/javascript').
		$(function () {
			var $gabeFace = $('#gabeFace');

			$('body').on('mousemove', function (event) {
				$gabeFace.css('left', event.pageX - ($gabeFace.width() / 2));
			});

			$('#btnLogIn').on('click touchstart', function () {
				window.location.replace('/login');
			});
			$('#btnSignUp').on('click touchstart', function () {
				window.location.replace('/signup');
			});
		});

block content
	h1.full-width
		span Home
		div#controls
			button#btnLogIn.transparent
				i.material-icons exit_to_app
				span Log In
			button#btnSignUp Sign Up

	blockquote
		p.
			In a world of increasing data-overload, who wants to be stuck with grandpa's writing system?
			Throw away those letters, but on SketchWave you can keep the stamps!
		footer Gabe, SketchWave Spiritual Adviser
	blockquote
		p.
			Your conversation is the canvas, and the world is yours to bastardize.
		footer Gabe, Chair of SketchWave's Department of Arcane Arts
	blockquote
		p.
			Let fun replace functionality and join us in communicating in the sketchiest way possible.
		footer Gabe, Head of Combustion

	img#gabeFace(style='position: fixed; bottom: 0; left: 100px;', src='/images/gabed.png')
