extends base.jade

block content
    h1  Log In
    form#formSignUp(method='post')
        label(for='username') Username
        input(type='text', name='username', id='username' autocapitalize='off' autocorrect='off')

        label(for='password') Password
        input(type='password', name='password', id='password')

        br
        br

        button(type='submit') Log In
