extends base.jade

block vars
	- var footer = true
	- var page = 'login'

block scripts
	script(type='text/javascript').
		$(function () {
			$('#btnSignUp').on('click touchstart', function () {
				window.location.replace('/signup/');
			});

			// Keep the CSRF-session alive.
			window.setInterval(function () {
				$.get('/keepalive/').fail(function () {
					// No CSRF token; reload the page.
					window.location.reload(true);
				});
			}, 60000);
		});

block content
	h1#bigForm
		span Log In
		div#controls
			button#btnSignUp.transparent
				i.material-icons person_add
				span Sign Up
	form#formLogIn(method='post')
		if error != ''
			div.siteMessage.error #{error}

		input(type='hidden' name='_csrf' value='#{csrfToken}')

		input(type='text' name='username' id='username'
			autocapitalize='off' autocorrect='off' placeholder='Username')
		input(type='password' name='password' id='password' placeholder='Password')

		input(type='hidden' name='redirect' value='#{redirect}')

		button(type='submit')
			i.material-icons exit_to_app
