extends base.jade

block content
    h1  Sign Up
    form#formSignUp(method='post', action='/signup')
        label(for='username') Username
        input(type='text', name='username', id='username')

        label(for='password') Password
        input(type='password', name='password', id='password')

        label(for='password2') Password Again
        input(type='password', name='password2', id='password2')

        div.g-recaptcha(data-sitekey='6LcU6hkTAAAAAIAlMCEAA6gEMzYWbcyY3M2l2opa')

        button(type='submit', name='submit') Sign Up
