extends base.jade

block vars
	- var footer = false

block content
	div#profile
		if profile.avatar
			img#avatar(src='#{profile.avatar}')
		else
			img#avatar
			// TODO: No avatar, want to create one?
		h1#name #{profile.username}
