extends ../base.jade

block vars
    - var footer = true
    - var page = '400'

block content
    h1.full-width
        span 400 Error

    p.
        Bad request.

    img(style='position: fixed; bottom: -30px; right: 0;' src='/images/gabed.png')

