extends ../base.jade

block content
    h1.full-width
        span 403 Error

    p.
        Your session may have expired, or perhaps you're some kind of elite hacker attempting to steal our precious
        data about how often your friends use Gabe's face in their sketches. In any case, you're forbidden from
        accessing this page.

    img(style='position: fixed; bottom: -30px; right: 0;', src='/images/gabed.png')

