extends ../base.jade

block content
    h1.full-width
        span 404 Error

    p.
        We used to be optimistic but we tried the best we can, and it was not enough to find whatever page you were
        looking for.

    img(style='position: fixed; bottom: -30px; right: 0;', src='/images/gabed.png')
