extends ../base.jade

block vars
    - var footer = true
    - var page = '500'

block content
    h1.full-width
        span 500 Error

    p.
        Internal server error.

    img(style='position: fixed; bottom: -30px; right: 0;' src='/images/gabed.png')

