@charset "UTF-8";

/*** FONTS ***/

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(/bower_components/material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
	src: local('Material Icons'),
	local('MaterialIcons-Regular'),
	url(/bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
	url(/bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
	url(/bower_components/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
	/*noinspection CssNoGenericFontName*/
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

/*** STYLES ***/

body {
	padding: 0; margin: 0;
	background-color: #f9f9f5;
}

header#siteHeader {
	/*noinspection CssUnknownTarget*/
	background: repeat-x 43px 0/auto 62px url(/images/wave.png);
	height: 104px;
	position: absolute;
	left: 0; right: 0;
	z-index: 51;
}
header img {
	vertical-align: top;
	background-color: #f9f9f5;
}
header nav {
	background-color: #1e90ff;
	border-bottom: 2px solid #1c60cc;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}
header nav ul {
	list-style: none;
	padding: 0;
	margin: 0;

	height: 40px
}
header nav ul li {
	display: inline-block;
	margin: 0 10px;
	height: 40px;
	line-height: 38px;
}
header nav ul li a {
	color: #cceeff;
	text-decoration: none;
	font-family: "Open Sans", sans-serif;
	font-size: 0.9em;
	font-weight: 600;
	transition: color 0.1s;
}
header nav ul li a:hover {
	color: #e9f3ff;
	transition: color 0.1s;
}
header nav ul li a i.material-icons {
	margin-right: 0.3rem;
	font-size: 24px;
	width: 24px;
	position: relative;
	top: 6px;
}

section#main {
	padding: 30px;
	position: absolute;
	left: 0; right: 0; bottom: 0; top: 104px;
	overflow-x: hidden;
}
section#main h1 {
	overflow: hidden;
	margin: 0 auto 15px auto;
	padding-bottom: 5px;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	color: #444;
	border-bottom: 2px solid #6f9fce;
	max-width: 960px;
}
section#main h1.full-width {
	max-width: 100%;
}
section#main h1 > span {
	float: left;
	vertical-align: top;
}
section#main h1 div#controls {
	float: right;
	vertical-align: top;
}
section#main h1 div#controls button {
	margin-left: 0.5rem;
}
section#main h1#bigForm {
	max-width: 300px;
	margin: auto;
	border-bottom: none;
	color: #555;
}
section#main h1#bigForm.wider {
	max-width: 500px;
}

section#main p {
	font-family: "Open Sans", sans-serif;
	font-size: 1.4rem;
	line-height: 1.5em;
	color: #444;
}

section#main blockquote {
	position: relative;
	margin-right: 40px;
}
section#main blockquote p {
	color: #555;
	font-weight: 300;
	text-align: justify;
	display: inline-block;
	position: relative;
}
section#main blockquote footer:before {
	content: "— ";
}
section#main blockquote footer {
	text-align: right;
	margin-right: 160px;
	font-family: "Open Sans", sans-serif;
	font-style: italic;
	font-weight: bold;
	color: #555;
}
section#main blockquote p:before {
	content: "“";

	position: absolute;
	top: 5px;
	left: -50px;

	font-size: 6rem;
	font-family: serif;
	color: #888;
}
section#main blockquote p:after {
	content: "”";

	position: absolute;
	top: 10px;
	right: -50px;

	font-size: 6rem;
	font-family: serif;
	color: #888;
}

footer#pageFooter {
	position: fixed;
	left: 30px; right: 30px;
	bottom: 0;
	height: 60px;
	z-index: 10;

	border-top: 2px solid #6f9fce;
	background-color: #f9f9f5;
}
footer#pageFooter nav {
	float: left
}
footer#pageFooter nav ul {
	padding: 0;
	margin: 0;
	height: 60px;

	list-style: none;
}
footer#pageFooter nav ul li {
	display: inline-block;
	margin: 0 0.9em;
	height: 60px;
	line-height: 58px;
}
footer#pageFooter nav ul li:first-child {
	margin-left: 0;
}
footer#pageFooter nav ul li a {
	font-family: "Open Sans", sans-serif;
	font-size: 0.85rem;
	color: #777;
	text-decoration: underline;
}

footer#pageFooter #footerLogo {
	float: right;
	opacity: 0.4;
	margin-top: 11px;
	margin-right: 4px;

	transform: rotate(18deg);
}

#gabeFace {
	transition: left 0.2s ease-out;
	pointer-events: none;
	z-index: 9999;
}

#cursor {
	position: absolute;
	z-index: 100;
	margin-top: -46px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
}

button#claimConversation {
	margin-left: 1em;
}

button#toggleCanvas {
	position: fixed;
	width: 125px;
	left: 50%;
	margin-left: -75px;
	text-align: center;
	bottom: 10px;
	z-index: 95;

	display: none;
}

section#main div.aboutProfile {
	width: 33.3%;
	margin-bottom: 40px;
	display: inline-block;
	text-align: center;
	vertical-align: top;
}
section#main div.aboutProfile img {
	box-sizing: border-box;
	max-width: 300px;
	width: 60%;
	padding: 20px;

	background-color: #fefefd;
	border: 1px solid #eaeadf;
	border-radius: 100%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}
section#main div.aboutProfile h2 {
	font-family: "Open Sans", sans-serif;
	color: #555;
	font-weight: 600;
}
section#main div.aboutProfile p {
	text-align: left;
	font-size: 1.1rem;

	padding: 0 10px;
}

/* conversation stuff */

form#formCreateConversation {
	box-sizing: border-box;
	max-width: 960px;
	margin: 0 auto 30px auto;
}

ul#conversations {
	box-sizing: border-box;
	list-style: none;
	padding: 0;
	margin: 20px auto;
	border-radius: 3px;
	max-width: 960px;
}
ul#conversations li.conversation {
	box-sizing: border-box;
	position: relative;
	margin-bottom: 10px;

	border: 1px solid #bbb;
	border-radius: 4px;
	background-color: #fefefd;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);

	font-family: "Open Sans", sans-serif;

	white-space: nowrap;
	overflow-x: hidden;
}
ul#conversations li.conversation:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
ul#conversations li.conversation:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom: 1px solid #bbb;
}
ul#conversations li.conversation div.link {
	/*position: relative;*/
	/*z-index: 11;*/

	display: inline-block;
	/*line-height: 48px;*/

	/*background-color: #fefefd;*/
	/*border-right: 1px solid #bbb;*/
	padding: 12px 15px;
}
ul#conversations li.conversation div.member {
	display: inline-block;
}
ul#conversations li.conversation div.avatar {
	vertical-align: text-bottom;
	box-sizing: border-box;
	display: inline-block;
	height: 26px; width: 26px;
	margin: 0 0.3rem 0 0.5rem;
	position: relative;
	top: 2px;

	border-radius: 100%;
	border: 1px solid #e0e0e0;
}
ul#conversations li.conversation div.avatar img {
	max-height: 24px; max-width: 24px;
	border-radius: 100%;
	vertical-align: top;
}
ul#conversations li.conversation a {
	color: #666;
}
ul#conversations li.conversation div.memberList {
	padding: 12px 15px;

	border-top: 1px solid #e9e9e9;

	line-height: 30px;
	color: #333;
}
ul#conversations li.conversation div.date {
	position: absolute;
	right: 0;
	display: inline-block;
	height: 46px;
	z-index: 10;
	padding-left: 5px;
	padding-right: 15px;

	background-color: #fefefd;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;

	font-size: 0.8rem;
	line-height: 48px;
	color: #777;
}
ul#conversations li.conversation div.date:before {
	position: absolute;
	left: -20px;
	width: 20px; height: 46px;
	display: inline-block;

	background: linear-gradient(to right, rgba(255, 255, 255, 0) , white);
	content: "";
}
ul#conversations li.conversation.deletable div.date {
	right: 48px;
	border-right: 1px solid #e0e0e0;
	border-top-right-radius: 0;
	padding-right: 15px;
}
ul#conversations li.conversation div.controls {
	position: absolute;
	top: 0;
	right: 0;
}
ul#conversations li.conversation div.controls button {
	position: relative;
	top: 8px;
	right: 15px;
}

div#conversationsMessage {
	padding: 20px 0;

	color: #999;
	font-family: "Open Sans", sans-serif;
	font-size: 1.3rem;
	text-align: center;
}

div#conversation {
	position: absolute;
	z-index: 49;
	left: 0; right: 0; bottom: 0; top: 0;
	box-sizing: border-box;
	overflow: hidden;
}
div#conversation section#messages {
	position: absolute;
	box-sizing: border-box;
	top: 0; left: 0; bottom: 0;
	width: 50%;
}
div#conversation section#messages header {
	position: absolute;
	z-index: 50;
	left: 0;
	right: 0;
	top: 0;
	padding: 10px 10px 10px 20px;
	height: 32px;
	border-bottom: 2px solid #6f9fce;
	background-color: rgba(254, 254, 253, 0.9);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(10px);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
div#conversation section#messages header h1 {
	border: none;
	margin: 0;
	padding: 0;
	height: 34px;
	line-height: 24px;
	top: 0;
	color: #505055;
	font-weight: 600;
}
div#conversation section#messages header h1 span#conversationName {
	position: relative;
	top: 4px;
	max-width: 55%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
div#conversation section#messages header h1 div#nameChangeControls {
	display: inline-block;
	overflow: hidden;
}
div#conversation section#messages section#messagesContainer {
	box-sizing: border-box;

	overflow-y: auto;
	position: absolute;
	bottom: 0; top: 0;
	left: 0; right: 0;

	padding-top: 54px;
}
div#conversation section#messages section#messagesContainer button#loadMore {
	width: calc(100% - 20px);
	margin-top: 10px; margin-left: 10px;
}
div#conversation section#messages section#messagesContainer div.meta-message {
	margin: 40px auto;
	max-width: 480px;
	width: 100%;

	font-family: "Open Sans", sans-serif;
	font-size: 0.85rem;
	color: #555;
	text-align: center;
}
div#conversation section#messages section#messagesContainer div.message {
	margin-top: 36px;
}
div#conversation section#messages section#messagesContainer div.message:last-child {
	margin-bottom: 56px;
}
div#conversation section#messages section#messagesContainer div.message div.top-bar {
	overflow: hidden;
	margin: 0 auto 8px auto;
	max-width: 480px;
	width: 100%;
	height: 36px;
	font-family: "Open Sans", sans-serif;
}
div#conversation section#messages section#messagesContainer div.message div.top-bar div.author {
	float: left;
	color: #555;
}
div#conversation section#messages section#messagesContainer div.message div.top-bar div.author img {
	box-sizing: border-box;
	margin-right: 10px;
	height: 36px; width: 36px;
	border-radius: 100%;
	vertical-align: top;
	background-color: white;
	border: 1px solid #e0e0e0;
}
div#conversation section#messages section#messagesContainer div.message div.top-bar div.author a {
	position: relative;
	top: 7px;
	color: #555;
	text-decoration: none;
}
div#conversation section#messages section#messagesContainer div.message div.top-bar div.author a:hover {
	text-decoration: underline;
}
div#conversation section#messages section#messagesContainer div.message div.top-bar div.date {
	float: right;
	color: #888;
	font-size: 0.9rem;
	margin-top: 9px;
}
div#conversation section#messages section#messagesContainer div.message div.image,
div#conversation section#messages section#messagesContainer div.message div.animation {
	position: relative;
	clear: both;
	width: 100%;
	max-width: 480px;
	margin: auto;

	background-color: white;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
	border: 1px solid #bbb;
	border-radius: 4px;
}
div#conversation section#messages section#messagesContainer div.message div.animation.stopped:before {
	content: "play_arrow";
	position: absolute;
	top: 50%; left: 50%;
	height: 72px; width: 72px;
	margin-top: -36px; margin-left: -36px;

	background-color: rgba(150, 150, 150, 0.4);
	border-radius: 100%;

	font-family: "Material Icons", serif;
	font-size: 4rem;
	text-align: center;
	line-height: 72px;
	color: rgba(0, 0, 0, 0.4);
}
div#conversation section#messages section#messagesContainer div.message div.text {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	max-width: 480px;
	margin: 11px auto 0 auto;
	padding: 8px 12px;

	background-color: #f7f7f5;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.07), inset 1px 1px 2px rgba(255, 255, 255, 0.5);
	border: 1px solid #d1d1cf;
	border-radius: 4px;

	color: #333330;
	font-family: "Open Sans", sans-serif;
	font-size: 0.9rem;
	line-height: 1.4em;
}
div#conversation section#messages section#messagesContainer div.message div.text:before {
	content: "";
	position: absolute;
	top: -5px;
	left: 12px;
	height: 8px; width: 8px;

	background-color: #f7f7f5;
	border-left: 1px solid #d1d1cf;
	border-top: 1px solid #d1d1cf;

	transform: rotate(45deg);
}
div#conversation section#messages section#messagesContainer div.message div.image img,
div#conversation section#messages section#messagesContainer div.message div.animation img {
	width: 100%;
	max-width: 480px;
	vertical-align: top;

	border-radius: 3px;

	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: crisp-edges;
}
div#conversation section#messages section#messagesContainer div.message div.animation div.animation-frame {
	width: 100%;
	max-width: 480px;
	overflow: hidden;
	display: none;
	pointer-events: none;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
div#conversation section#messages section#messagesContainer div.message div.animation div.animation-frame.current {
	display: block;
}
div#conversation section#messages section#messagesContainer div.message div.controls {
	margin: 5px auto 0 auto;
	max-width: 480px;
	width: 100%;
	color: #666;
	font-family: sans-serif;
}
div#conversation section#drawPanel {
	box-sizing: border-box;
	position: absolute;
	left: 50%; right: 0;
	top: 0; bottom: 0;
	width: 50%;

	border-left: 1px solid #ccc;
	background-color: #f5f5f3;

	text-align: center;

	overflow-y: auto;
}

div#conversation section#drawPanel div#scrollIt {
	position: absolute;
	top: 0; bottom: 53px;
	left: 0; right: 0;
	overflow: auto;
	padding-bottom: 20px;
}

div#conversation section#drawPanel canvas#drawCanvas,
div#avatarContainer canvas#avatarCanvas {
	display: block;
	box-sizing: border-box;

	background-color: white;
	border: 1px solid #bdbdbd;

	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	cursor: crosshair;

	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: crisp-edges;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: none;

	max-width: 100%;
}
div#conversation section#drawPanel canvas#drawCanvas {
	position: relative;
	z-index: 49;
	left: 50%;
	margin: 20px auto 0 -240px;
	border-top-left-radius: 4px;
	background-color: rgba(255, 255, 255, 0.7);
}
div#avatarContainer canvas#avatarCanvas {
	margin: 20px auto;
	border-radius: 100%;
	max-width: 384px;
	max-height: 384px;
	width: 100%;
}

div#conversation section#drawPanel canvas#onionSkin {
	position: absolute;
	z-index: 48;
	left: 50%;
	margin: 1px 0 0 -239px;
	max-width: 100%;

	background-color: white;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div#conversation section#drawPanel div#frames {
	position: absolute;
	top: 20px;
	margin-left: calc(50% + 239px);
	width: 40px;
	z-index: 50;
}
div#conversation section#drawPanel div#frames a.frame {
	width: 40px;
	height: 30px;
	line-height: 30px;
	display: block;
	text-align: center;
	background-color: #f9f9f7;
	border: 1px solid #bdbdbd;
	border-bottom: none;
	cursor: pointer;
	font-family: "Open Sans", sans-serif;
	font-size: 0.9rem;
	color: #555;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
div#conversation section#drawPanel div#frames a.frame:first-child {
	border-top-right-radius: 4px;
}
div#conversation section#drawPanel div#frames a.frame:last-of-type {
	border-bottom-right-radius: 4px;
	border-bottom: 1px solid #bdbdbd;
}
div#conversation section#drawPanel div#frames a.frame.selected {
	background-color: white;
	border-left-color: rgba(255, 255, 255, 0);
	font-weight: bold;
}
div#conversation section#drawPanel div#frames button#addFrame,
div#conversation section#drawPanel div#frames button#removeFrame {
	margin: 3px 9px 0 13px;
}

div#conversation section#drawPanel div#commands {
	position: absolute;
	bottom: 0;
	left: 0; right: 0;
	z-index: 3;

	width: 100%;
	display: block;
	box-sizing: border-box;
	background-color: #efefed;
	border-top: 1px solid #bbb;
	padding: 10px;

	box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.05);
}

div#avatarContainer div#avatarControls {
	margin-top: 10px;
	text-align: center;
}

div#conversation section#drawPanel div#tools,
div#avatarContainer div#tools {
	position: relative;
	z-index: 2;

	box-sizing: border-box;
	display: inline-block;
	width: 100%;

	background-color: #f3f3f1;
	border: 1px solid #bdbdbd;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);

	max-width: 480px;
}
div#conversation section#drawPanel div#tools {
	padding: 15px 15px 10px 15px;
	z-index: 50;

	border-top: none;
	border-top-left-radius: 0; border-top-right-radius: 0;
}
div#avatarContainer div#tools {
	padding: 15px;
}
div#conversation section#drawPanel div#tools h3,
div#avatarContainer div#tools h3 {
	color: #666;
	font-family: "Open Sans", sans-serif;
	font-size: 0.95rem;
	font-weight: normal;
	margin: 0;
}
div#conversation section#drawPanel div#tools ul,
div#avatarContainer div#tools ul {
	list-style: none;
	padding: 0;
	width: 100%;
	margin: 0 auto 10px auto;
	font-size: 0;
}
div#conversation section#drawPanel div#tools ul li,
div#avatarContainer div#tools ul li {
	position: relative;
	box-sizing: border-box;
	width: 10%;
	margin-right: 1.1111%;
	padding: 4px;
	height: 36px;
	display: inline-block;
	border: 1px solid #bdbdbd;
	border-radius: 3px;
	background-color: #f9f9f5;
}
div#conversation section#drawPanel div#tools ul li:last-child,
div#avatarContainer div#tools ul li:last-child {
	margin-right: 0;
}
div#conversation section#drawPanel div#tools ul li.active,
div#avatarContainer div#tools ul li.active {
	box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.4);
	border-color: orange;
}
div#conversation section#drawPanel div#tools ul li:active,
div#avatarContainer div#tools ul li:active {
	box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.4);
}
div#conversation section#drawPanel div#tools ul li.big,
div#avatarContainer div#tools ul li.big {
	margin: 0 1%;
	vertical-align: top;
}
div#conversation section#drawPanel div#tools ul li.big { width: 14.65%; }
div#avatarContainer div#tools ul li.big { width: 23%; text-align: center; }
div#conversation section#drawPanel div#tools ul li#hotkey {
	font-size: 24px;
	line-height: 37px;
	color: black;
}
div#conversation section#drawPanel div#tools ul li.big img,
div#avatarContainer div#tools ul li.big img {
	max-width: 100%;
	max-height: 26px;
}
div#conversation section#drawPanel div#tools ul li i,
div#avatarContainer div#tools ul li i {
	margin-top: 4px;
	vertical-align: top;
	font-size: 18px;
	width: 18px;
	color: #666;
}
div#conversation section#drawPanel div#tools ul li#white,
div#avatarContainer div#tools ul li#white { background-color: #FFF; }
div#conversation section#drawPanel div#tools ul li#grey,
div#avatarContainer div#tools ul li#grey { background-color: #808080; }
div#conversation section#drawPanel div#tools ul li#black,
div#avatarContainer div#tools ul li#black { background-color: #000; }
div#conversation section#drawPanel div#tools ul li#hotPink,
div#avatarContainer div#tools ul li#hotPink { background-color: #FF69B4; }
div#conversation section#drawPanel div#tools ul li#red,
div#avatarContainer div#tools ul li#red { background-color: #F00; }
div#conversation section#drawPanel div#tools ul li#orange,
div#avatarContainer div#tools ul li#orange { background-color: #FF9300; }
div#conversation section#drawPanel div#tools ul li#yellow,
div#avatarContainer div#tools ul li#yellow { background-color: #FFFF00; }
div#conversation section#drawPanel div#tools ul li#blue,
div#avatarContainer div#tools ul li#blue { background-color: #00F; }
div#conversation section#drawPanel div#tools ul li#green,
div#avatarContainer div#tools ul li#green { background-color: #0F0; }

div#conversation section#drawPanel div#tools div#brushSize input[type="range"],
div#avatarContainer div#tools div#brushSize input[type="range"] {
	width: 100%;
}

div#profile {
	text-align: center;
}
div#profile img#avatar {
	display: block;
	margin: auto;
	box-sizing: border-box;
	max-height: 384px; max-width: 384px;

	width: 100%;

	background-color: white;
	border: 1px solid #bdbdbd;
	border-radius: 100%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}
div#profile div#emptyAvatar {
	display: block;
	margin: auto;
	box-sizing: border-box;
	max-height: 384px; max-width: 384px;
	height: 384px;

	width: 100%;

	background-color: white;
	border: 1px solid #bdbdbd;
	border-radius: 100%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}
div#profile h1 {
	border: none;
	font-size: 3rem;
	font-weight: 300;
	margin-top: 20px;
	margin-bottom: 10px;
}

div#modalBackground {
	z-index: 101;
	position: fixed;
	top: 0; bottom: 0;
	left: 0; right: 0;
	background-color: rgba(0, 0, 0, 0.3);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}
div#modal {
	box-sizing: border-box;
	z-index: 102;
	position: fixed;
	width: 50%;
	margin-left: 25%;
	/*margin-top: 40px;*/
	top: 40px; bottom: 50px;
	padding: 55px 20px 20px 20px;

	max-height: 500px;
	overflow-y: auto;

	border: 1px solid #666;
	border-radius: 4px;
	background-color: #f9f9f5;

	box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
}
div#modal h1 {
	position: fixed;
	top: 40px;
	left: calc(25% + 1px);
	z-index: 103;
	width: calc(50% - 2px);

	box-sizing: border-box;
	margin-top: 0;
	padding: 9px 20px 5px 20px;
	overflow: hidden;

	border-top: 1px solid #666;
	border-bottom: 1px solid #ccc;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background-color: #f9f9f5;

	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	color: #666;
	font-size: 1.3rem;
}
div#modal h1 span {
	float: left;
}
div#modal h1 div.controls {
	float: right;
	margin-top: -1px;
}

#stamps {
	margin-bottom: 15px;
	overflow-y: auto;
}
#stamps .stamp {
	display: inline-block;
	width: 19%;
	margin: 5px 0.5%;
	box-sizing: border-box;
	border: 1px solid #999;
	border-radius: 3px;
	position: relative;
}
#stamps .stamp.active {
	border: 1px solid orange;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}
#stamps .stamp img {
	width: 100%;
	height: auto;
	vertical-align: top;
}
#stamps .stamp button.stampDelete {
	position: absolute;
	bottom: 2px;
	right: 4px;

	text-shadow: 0 1px 0 #f9f9f5,
		0 -1px 0 #f9f9f5,
		1px 0 0 #f9f9f5,
		-1px 0 0 #f9f9f5,
		1px 1px 0 #f9f9f5,
		-1px 1px 0 #f9f9f5,
		1px -1px 0 #f9f9f5,
		-1px -1px 0 #f9f9f5;
}

#members {
	margin: 10px 0;
}
#members .member {
	box-sizing: border-box;
	padding: 10px 5px 10px 10px;
	margin-bottom: 5px;
	min-height: 60px;

	background-color: #fefefd;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
	border: 1px solid #bbb;
	border-radius: 4px;

	font-family: "Open Sans", sans-serif;
	color: #333;
}
#members .member div.avatar {
	vertical-align: top;
	box-sizing: border-box;
	display: inline-block;
	height: 38px; width: 38px;

	border-radius: 100%;
	border: 1px solid #e0e0e0;
}
#members .member div.avatar img {
	max-height: 36px; max-width: 36px;
	border-radius: 100%;
}
#members .member a.name {
	display: inline-block;
	margin-top: 7px;
	margin-left: 10px;
	color: #555;
	text-decoration: none;
}
#members .member a.name:hover {
	text-decoration: underline;
}
#members .member div.onlineIndicator {
	display: inline-block;
	vertical-align: top;
	margin-left: 0.5em; margin-top: 13px;
	width: 11px; height: 11px;

	border-radius: 100%;
	background-color: #ececec;
}
#members .member div.onlineIndicator.online {
	background-color: #2ecc71;
}
#members .member div.ownerBadge {
	display: inline-block;
	padding: 0.1em 0.3em;
	margin: 9px 0 0 1em;
	vertical-align: top;

	background-color: #ff5562;
	border-radius: 3px;

	color: #fff8fc;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.75rem;
}
#members .member button {
	float: right;
	position: relative;
	top: 2px;
}

.search-member div.avatar {
	vertical-align: top;
	box-sizing: border-box;
	display: inline-block;
	height: 38px; width: 38px;

	border-radius: 100%;
	border: 1px solid #e0e0e0;
}
.search-member div.avatar img {
	max-height: 36px; max-width: 36px;
	border-radius: 100%;
}
.search-member div.name {
	display: inline-block;
	margin-top: 7px;
	margin-left: 10px;
}

.loader {
	position: relative;
	top: 30px;
	z-index: 1000;
	box-sizing: border-box;

	width: 46px;
	height: 46px;
	border-radius: 100%;
	border: 4px solid rgba(0, 0, 0, 0.1);

	/*noinspection CssUnknownTarget*/
	background: url('/images/gabe.png') no-repeat center;
	background-size: 88%;

	animation: spin 0.8s linear infinite;
}
@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform:rotate(360deg);
	}
}

.not-selectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

form {
	clear: both;
	padding: 15px;
	background-color: #fefefd;
	border: 1px solid #bbb;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
form .g-recaptcha {
	margin: 20px 0;
}

label {
	display: block;
	margin-top: 10px;

	text-transform: uppercase;
	font-weight: bold;
	font-family: "Open Sans", sans-serif;
	font-size: 0.8rem;
	color: #333;
}
label span {
	margin-right: 0.3rem;
}
label em {
	color: #777;
	font-weight: normal;
}

input[type="text"], input[type="password"] {
	-webkit-appearance: none;

	border: 1px solid #4f5f6e;
	padding: 5px 10px;
	height: 32px;
	max-width: 100%;
	width: 250px;
	box-sizing: border-box;

	border-radius: 3px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12);

	font-family: "Open Sans", sans-serif;
	font-size: 0.85rem;
	color: #555;
	line-height: 20px;

	vertical-align: top;

	outline: none;
}
input[type="text"].full-width, input[type="password"].full-width {
	width: 100%;
}
input[type="text"]:focus, input[type="password"]:focus {
	border-color: #1e90ff;
}

button {
	height: 32px;
	box-sizing: border-box;
	vertical-align: top;

	padding: 6px 11px;

	background-color: #1e90ff;
	border: 1px solid #1c60cc;
	border-radius: 3px;

	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);

	font-size: 0.8rem;
	font-family: "Open Sans", sans-serif;
	color: #e0f0ff;

	outline: none;

	cursor: pointer;
}
button:active {
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}
button.transparent {
	padding: 6px 0;
	margin: 0 11px;

	opacity: 0.8;

	border: none;
	background: none;
	box-shadow: none;

	color: #4f5f6e;

	transition: opacity 0.1s;
}
button.transparent.noMargin {
	margin: 0;
}
button.transparent.highlight {
	color: #1e90ff;
}
button.transparent:hover {
	opacity: 1.0;
	transition: opacity 0.1s;
}
button[disabled="disabled"] {
	background-color: #ccc;
	border-color: #999;
	color: #999;
	cursor: not-allowed;
}
button[disabled="disabled"].transparent {
	background: none;
	opacity: 0.5;
}
button i.material-icons {
	vertical-align: top;
	margin-right: 0.3rem;
	font-size: 18px;
	width: 18px;
}
button.iconOnly i.material-icons {
	margin-right: 0;
}
button.iconOnly.big i.material-icons {
	font-size: 24px;
	width: 24px;
	margin-top: -3px;
}
button.big i.material-icons {
	font-size: 24px;
	width: 24px;
	margin-top: -3px;
}
button.big span {
	font-size: 17px;
	font-weight: 400;
	line-height: 18px;
}
button.big.borderRight {
	border-radius: 0;
	border-right: 1px solid #c3c3c3;
	padding-right: 20px;
}

form#formLogIn {
	position: relative;

	max-width: 300px;
	width: 100%;
	margin: auto;
	padding: 0;

	border: none;
}
form#formLogIn div.siteMessage {
	padding: 10px;

	border-top-left-radius: 3px;
	border-top-right-radius: 3px;

	font-family: "Open Sans", sans-serif;
	font-size: 0.9rem;

	color: #3f2c24;
}
form#formLogIn div.siteMessage.error {
	position: relative;
	z-index: 5;
	background-color: #fc8c84;
	border: 1px solid #9c6c64;
	margin-bottom: -1px;
}
form#formLogIn input[type="text"], form#formLogIn input[type="password"] {
	height: 62px;
	width: 100%;
	max-width: none;
	padding: 0 15px;
	border-radius: 0;
	box-shadow: none;

	font-family: "Open Sans", sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
	line-height: 62px;
	color: #444;
}
form#formLogIn input[type="text"]:focus, form#formLogIn input[type="password"]:focus {
	border-color: #03a9f4;
	position: relative;
	z-index: 2;
	box-shadow: inset 0 1px 7px rgba(0, 0, 0, 0.1);
}
form#formLogIn input[name="username"] {
	border: 1px solid #bbb;
}
form#formLogIn input[name="username"] {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
form#formLogIn input[name="password"] {
	margin-top: -1px;
	border: 1px solid #bbb;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
form#formLogIn button {
	position: absolute;
	z-index: 3;
	bottom: 9px;
	right: 9px;

	height: 46px;
	width: 46px;
	border-radius: 46px;

	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
form#formLogIn button i {
	font-size: 24px;
	width: 24px;
	margin-left: -1px;
}

form#formSignUp {
	box-sizing: border-box;

	max-width: 500px;
	width: 100%;
	margin: 0 auto 60px auto;
}
form#formSignUp h2 {
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	text-align: center;
	color: #444;
}
.col {
	display: inline-block;
	box-sizing: border-box;
}
.col50 {
	width: 50%;
}

/*** SELECT2 OVERRIDES ***/

.select2-container--default {
	max-width: 100%;
	min-width: 200px;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
	-webkit-appearance: none;

	border: 1px solid #4f5f6e;
	padding: 5px;
	height: 32px;
	width: 100%;
	box-sizing: border-box;

	border-radius: 3px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12);

	font-family: "Open Sans", sans-serif;
	font-size: 0.85rem;
	color: #555;
	line-height: 20px;

	vertical-align: top;

	outline: none;
}
.select2-container--default .select2-selection--single {
	box-sizing: border-box;
	border: 1px solid #4f5f6e;
	min-height: 32px;
	width: 250px;
	max-width: 100%;

	border-radius: 3px;
	outline: none;

	font-family: "Open Sans", sans-serif;
	font-size: 0.8rem;
	color: #555;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	vertical-align: top;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 30px;
}
.select2-container--default .select2-selection--multiple {
	box-sizing: border-box;
	border: 1px solid #4f5f6e;
	min-height: 32px;
	padding: 5px 0;
	max-width: 100%;

	border-radius: 3px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12);

	font-family: "Open Sans", sans-serif;
	font-size: 0.8rem;
	color: #555;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
	border-color: #1e90ff;
}
.select2-container--default .select2-search--inline .select2-search__field {
	margin-top: 3px;
	margin-bottom: 3px;
}

.select2-dropdown {
	font-family: "Open Sans", sans-serif;
	font-size: 0.9rem;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
	vertical-align: top;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
	vertical-align: top;
	height: 19px;
	margin-top: 0;
	border-radius: 2px;
}

/*** RESPONSIVE MEDIA QUERIES ***/

@media screen and (max-width: 1160px) {
	div#conversation section#drawPanel canvas#drawCanvas {
		margin: 20px 0 0 0;
		left: 20px;
	}
	div#conversation section#drawPanel div#frames {
		left: 0;
		margin-left: 499px;
	}
	div#conversation section#drawPanel img#onionSkin {
		left: 0;
		margin: 0 0 0 20px;
	}
	div#conversation section#drawPanel div#tools {
		float: left;
		left: 20px;
		margin-left: 0;
	}
}

@media screen and (max-width: 1100px) {
	div#conversation section#messages {
		width: 100%;
	}
	div#conversation section#messages header h1 span#conversationName {
		max-width: 70%;
	}

	div#conversation section#drawPanel {
		width: 100%;
		z-index: 50;
		left: 100%;
	}

	div#conversation section#drawPanel canvas#drawCanvas {
		left: 50%;
		margin-left: -240px;
	}
	div#conversation section#drawPanel div#frames {
		left: 50%;
		margin-left: 239px;
	}
	div#conversation section#drawPanel div#tools {
		left: 50%;
		margin-left: -240px;
	}
	div#conversation section#drawPanel img#onionSkin {
		left: 50%;
		margin: 0 auto 0 -259px;
	}

	button#toggleCanvas {
		display: block;
	}

	div#modal {
		width: 74%;
		margin-left: 13%;
	}
	div#modal h1 {
		width: calc(74% - 2px);
		left: calc(13% + 1px);
	}

	#stamps .stamp {
		width: 24%;
	}
}

@media screen and (max-width: 800px) {
	#gabeFace {
		display: none;
	}

	ul#conversations {
		box-shadow: none;
	}

	ul#conversations li.conversation {
		height: auto;
		margin-bottom: 10px;

		border: 1px solid #bbb;
		border-radius: 4px;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);

		font-family: "Open Sans", sans-serif;

		white-space: normal;

		overflow: visible;
	}
	div#conversation section#messages header h1 span#conversationName {
		max-width: 58%;
	}

	ul#conversations li.conversation div.link {
		box-sizing: border-box;
		width: 100%;
		border-right: none;
		padding-bottom: 0;
	}

	ul#conversations li.conversation div.date {
		display: block;
		position: relative;
		padding-left: 15px;
		padding-top: 5px;
		height: auto;
		line-height: 1.2rem;
		padding-bottom: 10px;
	}
	ul#conversations li.conversation.deletable div.date {
		right: 0;
		border-right: none;
		padding-right: 0;
	}
	ul#conversations li.conversation div.date:before {
		display: none;
		height: auto;
	}

	ul#conversations li.conversation div.controls {
		position: absolute;
		top: 0;
		right: 0;
		min-width: 48px;
	}
	ul#conversations li.conversation div.controls button {
		left: 14px;
	}

	section#main blockquote footer {
		margin-right: 40px;
	}

	div#modal {
		width: 80%;
		margin-left: 10%;
	}
	div#modal h1 {
		width: calc(80% - 2px);
		left: calc(10% + 1px);
	}
}

@media screen and (max-width: 580px) {
	div#conversation section#drawPanel canvas#drawCanvas {
		/*left: 20px;*/
		/*margin-left: 0;*/
		max-width: calc(100% - 40px);
		/*margin-left: calc(100% / 2);*/
	}
	div#conversation section#drawPanel div#frames {
		/*left: 0;*/
		/*margin-left: 499px;*/
	}
	div#conversation section#drawPanel div#tools {
		/*left: 20px;*/
		max-width: calc(100% - 40px);
		/*margin-left: 0;*/
		/*max-width: calc(100% - 40px);*/
	}
	div#conversation section#drawPanel img#onionSkin {
		/*left: 0;*/
		/*margin: 1px 0 0 21px;*/
	}
	div#conversation section#messages header h1 span#conversationName {
		max-width: 66.6%;
	}

	div#conversation section#messages header h1 button#changeName span,
	div#conversation section#messages header h1 button#editMembers span {
		display: none;
	}
}

@media screen and (max-width: 530px) {
	div#conversation section#messages section#messagesContainer div.message {
		padding: 0 20px;
	}
	div#conversation section#messages section#messagesContainer div.message div.author {
		margin: 0;
	}
	div#conversation section#messages section#messagesContainer div.message div.image {
		margin: 0;
	}

	#logOutUsername {
		display: none;
	}

	div#conversation section#drawPanel div#scrollIt {
		box-sizing: border-box;
		padding: 0 20px 20px 20px;
	}

	#stamps .stamp {
		width: 32.32%;
	}

	input[type="text"], input[type="password"] {
		max-width: 100%;
		width: 100%;
	}

	div#nameChangeControls {
		position: absolute;
		top: 10px;
		right: 10px;
	}

	section#main blockquote footer {
		margin-right: 40px;
	}
}
